streamlit
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
faiss-cpu
sentence-transformers
pdfplumber
pymupdf
easyocr
Pillow
torch
torchvision
numpy
opencv-python-headless
